$prefix: 'CrossUIButton--';

.CrossUIButton {
  @apply cursor-pointer border-solid border font-sans flex justify-center rounded-sm;

  @each $color in $colors {
    &.#{$prefix}#{$color} {
      $color-value: map-get($colors-map, $color);

      @apply inline-flex items-center antialiased border-transparent leading-none text-sm px-4 bg-#{$color-value}-500 text-white font-semibold;
      @apply text-xs px-4;

      &.#{$prefix}pill,
      &.#{$prefix}circle {
        @apply rounded-full;
      }

      &.#{$prefix}circle,
      &.#{$prefix}square {
        @apply items-center justify-center p-1;
      }

      // SIZES
      &.#{$prefix}small {
        @apply text-sm px-2 py-1;

        &.#{$prefix}circle,
        &.#{$prefix}square {
          @apply w-6 h-6;
        }
      }

      &.#{$prefix}medium {
        @apply text-sm p-2;

        &.#{$prefix}circle,
        &.#{$prefix}square {
          @apply w-8 h-8;
        }
      }

      &.#{$prefix}large {
        @apply text-sm px-2 py-3;

        &.#{$prefix}circle,
        &.#{$prefix}square {
          @apply w-10 h-10;
        }
      }

      &.#{$prefix}default {
        @apply bg-#{$color-value}-500;

        &:hover:not(:disabled),
        &.#{$prefix}active {
          @apply bg-#{$color-value}-600;
        }

        &:active:not(:disabled) {
          @apply bg-#{$color-value}-900;
        }
      }

      &.#{$prefix}outline {
        @apply bg-transparent text-#{$color-value}-700 font-semibold border border-#{$color-value}-700;

        svg {
          @apply text-#{$color-value}-700;
        }

        &:hover:not(:disabled),
        &.#{$prefix}active {
          @apply border-#{$color-value}-400 text-#{$color-value}-400 border-transparent;
        }

        &:active:not(:disabled) {
          @apply text-#{$color-value}-900 border-#{$color-value}-900;
        }
      }

      &.#{$prefix}default,
      &.#{$prefix}outline {
        &:focus {
          z-index: 1;
          @apply outline-none ring ring-gray-200 relative;
        }
      }
    }

    &:disabled {
      @apply opacity-50 cursor-not-allowed;
    }
  }

  &.#{$prefix}full-width {
    @apply w-full;
  }

  &.#{$prefix}demo {
    color: var(--cui-color-primary);
  }
}
