@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scale-animation-1 {
  animation: crescendo 0.1s alternate 1 ease-in;
}

@keyframes crescendo {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
